extends layout
block content
  h1= title
  div#map
  div#popup
    b OpenLayers 3 Code Sprint
    i  Humanities A3

  script(src="../javascripts/ol-debug.js")
  script(src='../javascripts/8/simpleOverlay.js') 