extends layout
block content
  h1= title
  div#map
  form.form-inline
    label Geometry Type &nbsp;
    select#type
      option(value="Point") Point
      option(value="Polygon") Polygon 
      option(value="LineString") LineString 
  
  script(src="../javascripts/ol-debug.js")
  script(src="../javascripts/9/FileSaver.js")
  script(src='../javascripts/9/makeYourOwnControl.js') 