extends layout
block content
  h1= title
  div#map
  
  script(src="//code.jquery.com/jquery-1.11.0.min.js")
  script(src="../javascripts/ol-debug.js")
  script(src='../javascripts/6/styleByProperty.js') 